<section class="post">
    <header class="major">

        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
        <p>{{web}}</p>

    </header>
</section>

<article class="sobremi">
    <h2>Sobre mi</h2>
    <span class="date"></span>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec sagittis lorem, et convallis sem. Morbi
        tempor ultricies ante, a condimentum lorem varius in. Nullam non massa non elit suscipit molestie. Phasellus id
        diam vel quam interdum lobortis. Nam pulvinar dapibus nunc tincidunt tincidunt. Vestibulum feugiat varius tortor
        non venenatis. Mauris scelerisque consectetur libero, at volutpat lorem gravida sit amet. Etiam eu urna id massa
        porttitor congue. Vestibulum dapibus auctor vehicula. Aenean nec varius lacus, ac accumsan ligula. Praesent
        ligula quam, egestas vel velit vel, egestas rhoncus risus. Pellentesque vehicula odio eget felis rhoncus
        egestas.

        Fusce interdum libero sed massa porta finibus. Praesent tristique tempor massa non dapibus. Maecenas semper,
        nibh in pharetra rhoncus, mi lacus rhoncus orci, nec scelerisque diam sapien quis massa. Nam quis luctus enim,
        sit amet efficitur sem. Sed a leo sit amet libero egestas commodo a sit amet lacus. Fusce sed risus nec dolor
        gravida finibus eu tempor orci. Sed non eleifend odio. Morbi aliquet eu felis ut blandit. In elementum nulla
        vitae consequat consectetur. Proin eu leo non est suscipit condimentum. Nullam tempor fringilla nisi, vel
        aliquet ante. Ut sed porta elit, sed dignissim nisi. Aenean sed venenatis eros, eget porttitor lorem. Nulla
        tempor enim justo, eget facilisis mauris rutrum varius.
    </p>
</article>